<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form name="loginForm" action="./login", method="POST">
        <input name="Username" id="uName" type="text" placeholder="Enter Username">
        <input name="Password" id="uPass" type="text" placeholder="Enter Password">
        <button type="submit">Login</button>
    </form>


</body>
</html>